<div class="container">
  <h2>Liste des cocktails</h2>
  <div class="card">
      <% @cocktails.each do |cocktail| %>
      <p><%= link_to cocktail.name, cocktail_path(cocktail)%></p>
    <% end %>
  </div>
</div>
